
*{    
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.main{
    display: flex;
    position: relative;
}

.main .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background:  #2F4F4F;
    padding: 30px 0;
    overflow-y: auto;
    top: 0;
    bottom: 0;
}

.main .sidebar .adminName{
    color: #fff;
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}

.main .sidebar ul li{
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.main .sidebar ul li a{
    padding: 20px;
    color: #DCDCDC;
    display: block;
}

.main .sidebar ul li a:hover{
    background: #A9A9A8;
    color: #000;
}

.main .content {
    width: 100%;
    margin-left: 200px;
}

.main .content .header{
    padding: 20px;
    background: #2196f3;
    color: #fff;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 3px 3px black;
}

li {
    list-style-type: none;
}

select { 
    margin: 25px;
    appearance: none; 
    outline: 0; 
    background: whitesmoke; 
    background-image: none; 
    width: 40%;
    min-width: 300px;
    color: black; 
    cursor: pointer; 
    border:1px solid #2196f3;
    font-size: 17px;
    border-radius:5px; 
    overflow: hidden;
} 

input[type="text"], input[type="number"] {
    font-size: 15px;
    line-height: 0.5;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 25px;
}

input[type=date], input[type="radio"]{
    font-size: 16px;
    margin-left: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.categories {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-field input[type="text"]{
    /* border: 1px solid #2196f3;
    border-radius: 5px; */
    width: 20%;
    min-width: 225px;
    max-width: 400px;
    margin-right: 25px;
    text-transform:uppercase;
}

/* input[type="text"]:focus{
    border-bottom: 2px solid orange !important;
} */

input[type="date"]{
    /* border: 1px solid #2196f3;
    border-radius: 5px; */
    max-width: 120px;
    margin-right: 25px;
}

::placeholder {
    color: seagreen;
}

.parents {
    margin-left: 25px;
    margin-bottom: 5px;
}

.LastSchool input[type="text"]{
    width: 20%;
    min-width: 225px;
    max-width: 400px;
    margin-right: 25px;
}

#CompleteAddress, #LastSchoolAddress, #FatherAddress, #FatherWorkAddress, #MotherAddress, #MotherWorkAddress {
    width: 43%;
    min-width: 400px;
    max-width: 700px;
    margin-right: 10px;
}

.submitton {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.btn {
    margin: 25px;
    font-family: sans-serif;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #4169E1;
}

button[type="submit"] {
    background-color: #26a69a;
    width: 120px;
}

.religion {
    margin-bottom: 5px;
}

.schoolYear input[type="number"]{
    width: 75px;
    min-width: 50px;
}

#toYear{
    margin-left: 0;
}

h1 {
    margin: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Registered {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(20%);
    font-size: 30px;
}

.Registered .btn {
    margin-left: 0;
    margin-top: 25px;
}

.Registered input[type="text"]{
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

.input-field {
    margin-left: 25px;
}

label {
    color: black;
}

#Reg {
    width: 200px;
}